body {
  margin: 0 auto;
  padding: 5em 10em;
  max-width: 70%;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  padding-bottom: 50px;
}


.module {
  /* Demo-Specific Styles */
  background: rgba(255,255,255,1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;

  font-size: 1.2em;
  color: grey;
  font-family: 'Advent Pro', san-serif;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.module:hover {
  opacity: 0.2;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

/* TEXT */
#title {
  position: relative;
  width: 50%;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 25px;
  z-index: 2;
}

h1 {
  font-size: 1.2em;
  color: black;
  margin: 0.2em 0;
  font-family: 'Advent Pro', san-serif;
}

h2 {
  font-size: 0.8em;
  color: black;
  margin: 0.2em 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-decoration: none;
}

p {
  font-size: 0.8em;
  color: black;
  margin: 0.2em 0;
  font-family: 'Open Sans', sans-serif;
}

/* BACKGROUND */
html {
  width: 100%;
  height: 100%;
  background: #FFFFFF; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFFFFF 0%, #FFFFFF 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FFFFFF 0%, #FFFFFF 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FFFFFF 0%, #FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 0;
}
